@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  background-color: #c5aeaf;
}

.daba1,.daba2{
  height: 80dvh;
}

.daba1{
  background-color: green;
}
.daba2{
  background-color: blue;
}